html{
	background-color: #eeeeee;
	height: 100%;
}

body{
	height: 100%;
}

li{
	list-style: none;
}

.fl,.fr{
	display: inline;
}

.fl{
	float: left;
}
.fr{
	float: right;
}


a:hover {
	text-decoration: underline;
	cursor: pointer;
}/* 当有鼠标悬停在链接上 */


h2{
	font-size: 2rem;
	font-weight: 500;
	color: #1F6FB5;
}
h3{
	font-size: 1.5rem;
	margin-bottom: 0.5rem;
	font-weight: 500;
	color: #1F6FB5;
}

h4{
	font-size: 1rem;
	font-weight: 300;
}

p{
	font-size: 1.2rem;
	color: #888888;
}

.backhome{
	font-size: 20px;
	color: #000000;
	margin: 20px auto;
}


/*页眉*/

#header{
	position: relative;
	margin: 0;
	padding: 0;
	background: #336699;
	
	height: 10rem;
	width: 100%;	
	min-width: 30rem;
}


.myimg{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin: 30px 10px 30px 50px;
	border: 1px solid #666666;
	background: url(../img/myimg.jpg) no-repeat;
	background-size:100% 100% ;
}

.myinfo{
	margin-top: 30px;
	color: #bdd4ec;
	font-size: 15px;
	line-height: 30px;
}
/*页眉end*/

/*页脚*/
footer{
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 50px;
	border-top: solid 1px #BBBBBB;
	font-size: 1.2rem;
	color: #666666;
}

footer:after{
	content: "";
	display: block;
	clear: both;
}

footer li{
	margin: 10px 20px;
}


/*页脚end*/

#mainbody{
	position: relative;
	max-width: 1200px;
	min-width: 30rem;
	margin: auto;
	padding: 0 6px;
}

#mainbody:after{
	content: "";
	display: block;
	clear: both;
}

.fa{
	margin-right: 5px;
}

.fa-heart{
	color: #ff0000;
}

#mainframe{
	position: relative;
	display: block;
	min-height: 100%;
	padding-bottom: 60px;/*为页脚留空*/
}
