
#welcome{
	width: 100%;
	padding: 15px;
	font-size: 20px;
	margin: 50px auto;
	color: #336699;
	background: #e7e7bb;
}

.fa-heart{
	color: #FF0000;
	margin-right: 10px;
}

#pro-list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}


#pro-list li{
	background-color: #FFFFFF;
	margin-bottom: 16px;
	width: 100%;
	padding: 1.5rem;
}

@media only screen and (min-width: 600px) {
	#pro-list li{
		width: calc(50% - 8px);
	}
}

#pro-list li:after{
	clear:both;
	content:'';
	display:block;
	width:0;
	height:0;
	visibility:hidden; 
}

#pro-list .msg{
	margin-top: 1.5rem;
	color: #666666;
}

#pro-list .visits{
	float: right;
	margin-top: 1.5rem;
	color: #666666;
}



